To run the model I am putting `innerZone` and `outerZone` at the bottom of the
- p
- U
- T
- N2
- O2
- nut
- k
- omega
- p_rgh
by coping existing inlet/outlet/front/top 

# JAEA case implementation
for base tutorial, `chockednozzle` was selected.
[/mnt/primary/Thesis/Test_cases/chokedNozzle/0]
- [ ] Handmade `0` folder: every element constant and variable
- [ ] GPT made `0` folder.
- [ ] Deepseek made `0` folder.
- [ ] Grok made `0` folder.
- [ ] Gemini made `0` folder.
- [ ] fireFoam (pdf's solver)
- [ ] rhoReactingFoam
- [ ] rhoReactingBuoyantFoam

# Suggested Tutorials

- [ ] Dam Break $FOAM_TUTORIALS/multiphase/compressibleInterFoam/laminar/damBreak $HOME/OpenFOAM/run/damBreakCompressible
- [ ] `$FOAM_TUTORIALS/compressible/rhoSimpleFoam/sonicFoam/forwardStep`
- [ ] $FOAM_TUTORIALS/combustion/reactingFoam/laminar/counterFlowFlame2D

# Need to check `0` , `system`and `constant` folders

- [ ] /mnt/primary/Thesis/tutorials/compressible/sonicFoam/laminar/forwardStep

# We'll use 

- [ ] counterflowflame tutorial because there are two inlet conditions, ideal for H2 and air mixture.